.codeSurferContainer {
  width: 100vw;
  height: 100vh;
}

.codeSurferContainerPercent {
  width: 50vw;
  height: 100vh;
}

.codeSurferContainer > div > div,
.codeSurferContainerPercent > div > div {
  width: 90%;
}

.codeSurferContainerPercent > div {
  width: 50vw !important;
}
